<% layout("layouts/boilerplate") %>
<head>
  <title>Contributor Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="text-dark bg-light">
    <h1>Welcome, <%= user.name %></h1>
    <nav >
      <a style="color: black;" href="/">Home</a>
      <a style="color: black;" href="/news/new">create Story</a>
      <a style="color: black;" href="/auth/logout">Logout</a>
    </nav>
  </header>
 
</body>
